
 
@media screen and (max-width:786px){
    p{
        color: red;
    }

    ul {
    padding: 0;
    width: 101px;     /* 1列分の幅+borderの1px */
    height: 121px;    /* 4行分の高さ+borderの1px */
    border-top: solid 1px #000;
    border-left: solid 1px #000;
    display: flex;
    flex-direction: column;  /* 並び順を縦方向に変更 */
    flex-wrap: wrap;         /* 折返し */
    }
    ul li {
    list-style: none;
    width: 100px;   /*一つのデータの大きさと幅*/
    height: 30px;
    border-bottom: solid 1px #000;
    border-right: solid 1px #000;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    align-items: center;    /* 文字を上下中央にする */
   }
}
@media screen and (min-width:786px) and (max-width:1040px){
/*画面サイズ786pxから1040pxまではここを読み込む*/

    ul {
    padding: 0;
    width: 151px;     /* 1列分の幅+borderの1px */
    height: 161px;    /* 4行分の高さ+borderの1px */
    border-top: solid 1px #000;
    border-left: solid 1px #000;
    display: flex;
    flex-direction: column;  /* 並び順を縦方向に変更 */
    flex-wrap: wrap;         /* 折返し */
    }
    ul li {
    list-style: none;
    width: 150px;
    height: 40px;
    border-bottom: solid 1px #000;
    border-right: solid 1px #000;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    align-items: center;    /* 文字を上下中央にする */
    }
}
@media screen and (min-width:1040px) and (max-width:1440px){
    /*画面サイズ1040pxから1440pxからここを読み込む */
        ul {
        padding: 0;
        width: 601px;     /* 4列分の幅+borderの1px */
        height: 41px;    /* 1行分の高さ+borderの1px */
        border-top: solid 1px #000;
        border-left: solid 1px #000;
        display: flex;
        flex-direction: column;  /* 並び順を縦方向に変更 */
        flex-wrap: wrap;         /* 折返し */
        }
        ul li {
        list-style: none;
        width: 150px;
        height: 40px;
        border-bottom: solid 1px #000;
        border-right: solid 1px #000;
        box-sizing: border-box;
        padding: 0 10px;
        display: flex;
        align-items: center;    /* 文字を上下中央にする */
        }
    }
    